.list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . .';
  width: 75%;
  height: 100%;
}

.list img {
  border-radius: 100px;
  border: 4px rgb(63, 63, 63) solid;
  margin: 1rem;
  filter: drop-shadow(15px 7px 12px black);
}

h3 {
  text-align: center;
  filter: drop-shadow(15px 7px 4px black);
}

img {
  border-radius: 100px;
  border: 4px rgb(63, 63, 63) solid;
  margin: 1rem;
  filter: drop-shadow(15px 7px 12px black);
  display: flex;
  margin: auto;
}
